                <!-- App favicon -->
                <!-- <link rel="shortcut icon" href="assets/images/favicon.ico"> -->

                <!-- third party css -->
                <!-- <link href="assets/css/vendor/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" /> -->
                <!-- third party css end -->
        
                <!-- App css -->
                <!-- <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" /> -->
                <!-- <link href="assets/css/app-modern.min.css" rel="stylesheet" type="text/css" id="light-style" /> -->
                <!-- <link href="assets/css/app-modern-dark.min.css" rel="stylesheet" type="text/css" id="dark-style" /> -->

                <!-- BOTS ID 5ee1f47ef29c0d1560f76205 -->
                <style>
                    .button:active {
                        background-color: #3e8e41;
                        box-shadow: 0 5px #666;
                        transform: translateY(4px);
                        }

                    .banner {
                        color: white;
                    }
                    
                    .wrapper {
                        display: -webkit-box;
                        display: flex;
                    }
                    
                    .plus::after {
                        content: '\002B';
                        float: right;
                        font-weight: bold;
                    
                    }
                    .btn-link:hover{
                        text-decoration: none;
                    }
                    .bar::after {
                        content: "\2212";
                    
                    }
                    .dropdown-menu {
                    
                        max-height: max-content;
                        max-width: max-content;
                    }
                    .left-bar {
                        border: 1px solid whitesmoke;
                        padding: 10px;
                        box-shadow: 5px 10px 18px whitesmoke;
                        margin-top: 10px;
                        position: relative;
                        background-color: white;
                        min-width: 300px;
                        max-width: 300px;
                    }
                    </style>
                    <%- include("../submenu/admin_sadc") -%>
                    
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">
                                <form>
                                    <div class="left-bar">
                                        <div style="padding: 30px 20px; text-align: center;">
                                            <span>
                                                <img src="/assets/images/flags/sidebar-flag.jpg" alt="SADC Flag" style="width:65px;height:62px;" class="rounded-circle">
                                            </span>
                                        </div>
                            
                                            <!-- Start Accordion -->
                                            <div class="accordion" id="accordionExample">
                                                <div class="card">
                                                    <div class="card-header" id="headingOne">
                                                        <h2 class="mb-0">
                                                        <button class="btn btn-link btn-block text-left plus" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                            Member States
                                                        </button>
                                                        </h2>
                                                    </div>
                                                    
                                                    <!-- Accordion Content -->
                                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                                        <div class="card-body">
                                                            <% memberStates.forEach(member =>  { %>
                                                                <div class=" form-check">
                                                                    <input type="checkbox" class="form-check-input" 
                                                                     name="member" value="<%= member %>">
                                                                    <label class="form-check-label" for= <%= member %>>  <%= member %></label>
                                                                </div>
                                                            <% }) %>
                    
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header" id="headingTwo">
                                                        <h2 class="mb-0">
                                                        <button class="btn btn-link btn-block text-left collapsed plus" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                            Select Livestock
                                                        </button>
                                                        </h2>
                                                    </div>
                                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                                        <div class="card-body">
                                                            <% livestocks.forEach(livestock =>  { %>
                                                                <div class=" form-check">
                                                                    <input type="checkbox" class="form-check-input" name="livestock" value="<%= livestock %>">
                                                                    <label class="form-check-label" for= <%= livestock %>>  <%= livestock %></label>
                                                                </div>
                                                            <% }) %>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header" id="headingThree">
                                                        <h2 class="mb-0">
                                                        <button class="btn btn-link btn-block text-left collapsed plus" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                            Indicators
                                                        </button>
                                                        </h2>
                                                    </div>
                                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                                        <div class="card-body">
                                                            <% liveStockIndicators.forEach(indicator =>  { %>
                                                                <div class=" form-check">
                                                                    <input type="checkbox" class="form-check-input" name="indicator" value="<%= indicator %>">
                                                                    <label class="form-check-label" for= <%= indicator %>>  <%= indicator %></label>
                                                                </div>
                                                            <% }) %>
                                                        </div>
                                                    </div>
                                                </div>
                    
                                                <div class="card">
                                                    <div class="card-header" id="headingFour">
                                                        <h2 class="mb-0">
                                                        <button class="btn btn-link btn-block text-left collapsed plus" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                                                            Reporting Period
                                                        </button>
                                                        </h2>
                                                    </div>
                                                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                                        <div class="card-body">
                                                            <!-- Hardcoded - Need to create database table for years -->
                                                            <div class=" form-check">
                                                                <input type="checkbox" class="form-check-input" name="year" value="2010">
                                                                <label class="form-check-label" for="year">  2010</label>
                                                            </div>
                                                            <div class=" form-check">
                                                                <input type="checkbox" class="form-check-input" name="year" value="2011">
                                                                <label class="form-check-label" for="year">  2011</label>
                                                            </div>
                                                            <div class=" form-check">
                                                                <input type="checkbox" class="form-check-input" name="year" value="2012">
                                                                <label class="form-check-label" for="year">  2012</label>
                                                            </div>
                                                            <div class=" form-check">
                                                                <input type="checkbox" class="form-check-input" name="year" value="2013">
                                                                <label class="form-check-label" for="year">  2013</label>
                                                            </div>
                                                            <div class=" form-check">
                                                                <input type="checkbox" class="form-check-input" name="year" value="2014">
                                                                <label class="form-check-label" for="year">  2014</label>
                                                            </div>
                                                            <div class=" form-check">
                                                                <input type="checkbox" class="form-check-input" name="year" value="2015">
                                                                <label class="form-check-label" for="year">  2015</label>
                                                            </div>
                                                            <div class=" form-check">
                                                                <input type="checkbox" class="form-check-input" name="year" value="2016">
                                                                <label class="form-check-label" for="year">  2016</label>
                                                            </div>
                                                            <div class=" form-check">
                                                                <input type="checkbox" class="form-check-input" name="year" value="2017">
                                                                <label class="form-check-label" for="year">  2017</label>
                                                            </div>
                                                            <div class=" form-check">
                                                                <input type="checkbox" class="form-check-input" name="year" value="2018">
                                                                <label class="form-check-label" for="year">  2018</label>
                                                            </div>
                                                            <div class=" form-check">
                                                                <input type="checkbox" class="form-check-input" name="year" value="2019">
                                                                <label class="form-check-label" for="year">  2019</label>
                                                            </div>
                                                            <div class=" form-check">
                                                                <input type="checkbox" class="form-check-input" name="year" value="2020">
                                                                <label class="form-check-label" for="year">  2020</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Accordion -->
                                            <button type="submit" onclick="displayLoader()" class="btn button btn-primary">Submit</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h4 style="line-height: 50px;">Dashboard</h4>
                                    </div>
                                    <div class="col-md-8">
                                        <!-- Add Graph Menus -->
                                        <ul class="nav nav-pills mb-3 float-right" id="pills-tab" role="tablist">
                                            <li class="nav-item">
                                            <a class="nav-link" id="pills-bchart-tab" 
                                            data-toggle="pill" href="#pills-bchart" role="tab" aria-controls="pills-bchart" aria-selected="true">
                                                <img src="/images/Pie-chart-icon.png" style="width: 40px; height: 40px;"class="rounded" alt="Pie Chart"></a>
                                            </li>
                                            <li class="nav-item">
                                            <a class="nav-link" id="pills-schart-tab" 
                                            data-toggle="pill" href="#pills-schart" role="tab" aria-controls="pills-schart" aria-selected="false">
                                                <img src="/images/chart.png" style="width: 40px; height: 40px;"class="rounded" alt="Bar Chart"></a>
                                            </li>
                                            <li class="nav-item">
                                            <a class="nav-link" id="pills-lgraph-tab" 
                                            data-toggle="pill" href="#pills-lgraph" role="tab" aria-controls="pills-lgraph" aria-selected="false">
                                                <img src="/images/line.png" style="width: 40px; height: 40px;"class="rounded" alt="Line Chart"></a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="pills-dtable-tab" 
                                                data-toggle="pill" href="#pills-dtable" role="tab" aria-controls="pills-dtable" aria-selected="false">
                                                <img src="/images/table.png" style="width: 40px; height: 40px;"class="rounded" alt="Table Format"></a>
                                            </li>
                                      </ul>
                    
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                            <div class="spinner-border text-primary row justify-content-center" id="loader" 
                                            role="status" style="display: none; margin-left: 50%;">
                                            <span class="sr-only" >Loading...</span>
                                            </div>
                    
                                        <!-- <p class="text-center display-5" id="nodata">No Data has been loaded.  Please run a query!</p> -->
                                        <div class="alert alert-warning" id="nodata" role="alert">
                                            No Data has been loaded.  Please run a query!
                                        </div>
                                        <div class="alert alert-danger" id="nodata2" role="alert" style="display: none;">
                                            There is no data found.  Please try another query. 
                                        </div>
                                        <div class="tab-content" id="pills-tabContent">
                                            
                                            <div class="tab-pane fade" id="pills-bchart" 
                                                role="tabpanel" aria-labelledby="pills-bchart-tab">
                                                <h6>Percentage Livestock Slaughtered</h6>
                                                    <div id="pieArea" style="width: 600px; height: 400px;">Pie Here</div>
                                            </div>
                                            <div class="tab-pane fade" id="pills-schart" 
                                                role="tabpanel" aria-labelledby="pills-schart">
                                                    <div id="barArea" style="width: 600px; height: 400px;">Bar Here</div>
                                            </div>
                                            <div class="tab-pane fade show active" id="pills-lgraph" 
                                                role="tabpanel" aria-labelledby="pills-lgraph">
                                                <!-- <h6>Cattle Birth Numbers</h6> -->
                                                <div id="lineArea" style="width: 600px; height: 400px;"></div>
                                            </div>
                                            <div class="tab-pane fade" id="pills-dtable" 
                                                role="tabpanel" aria-labelledby="pills-dtable-tab">
                                                <div id="tablediv" style="width: 600px; height: 400px;">Data Table Here</div>
                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                        </div>
                    </div>
                     
<script>

    function displayLoader() {
    loader.style.display = "block"
}

// Get value of checked box
// console.log(document.querySelectorAll('[name="member"]')[1].value)

// ###### Bar Chart Start #####
// Apply chart themes
// am4core.useTheme(am4themes_animated);
// am4core.useTheme(am4themes_kelly);

const pieChart = () => {
    var fieldArrays = [
 [
  {
   "timeAxe": "2019-07-26",
   "fieldArrays": 13
  },
  {
   "timeAxe": "2019-07-27",
   "fieldArrays": 12
  },
  {
   "timeAxe": "2019-07-28",
   "fieldArrays": 14
    },
  {
   "timeAxe": "2019-07-29",
   "fieldArrays": 11
  },
  {
   "timeAxe": "2019-07-30",
   "fieldArrays": 10
  },
  {
   "timeAxe": "2019-07-31",
   "fieldArrays": 10
  },
  {
   "timeAxe": "2019-08-01",
   "fieldArrays": 12
  },
  {
   "timeAxe": "2019-08-02",
   "fieldArrays": 15
  },
  {
   "timeAxe": "2019-08-03",
   "fieldArrays": 12
  },
  {
   "timeAxe": "2019-08-04",
   "fieldArrays": 12
  }
 ],
 [
  {
   "timeAxe": "2019-07-26",
   "fieldArrays": 29
  },
//   {
//    "timeAxe": "2019-07-27",
//    "fieldArrays": 30
//   },
//   {
//    "timeAxe": "2019-07-28",
//    "fieldArrays": 25
//   },
//   {
//    "timeAxe": "2019-07-29",
//    "fieldArrays": 30
//   },
//   {
//    "timeAxe": "2019-07-30",
//    "fieldArrays": 30
//   },
//   {
//    "timeAxe": "2019-07-31",
//    "fieldArrays": 30
//   },
//   {
//    "timeAxe": "2019-08-01",
//    "fieldArrays": 25
//   },
//   {
//    "timeAxe": "2019-08-02",
//    "fieldArrays": 22
//   },
//   {
//    "timeAxe": "2019-08-03",
//    "fieldArrays": 23
//   },
//   {
//    "timeAxe": "2019-08-04",
//    "fieldArrays": 24
//   }
//  ],
//  [
//   {
//    "timeAxe": "2019-07-26",
//    "fieldArrays": 31
//   },
//   {
//    "timeAxe": "2019-07-27",
//    "fieldArrays": 45
//   },
//   {
//    "timeAxe": "2019-07-28",
//    "fieldArrays": 35
//   },
//   {
//    "timeAxe": "2019-07-29",
//    "fieldArrays": 36
//   },
//   {
//    "timeAxe": "2019-07-30",
//    "fieldArrays": 43
//   },
//   {
//    "timeAxe": "2019-07-31",
//    "fieldArrays": 33
//   },
//   {
//    "timeAxe": "2019-08-01",
//    "fieldArrays": 32
//   },
//   {
//    "timeAxe": "2019-08-02",
//    "fieldArrays": 33
//   },
//   {
//    "timeAxe": "2019-08-03",
//    "fieldArrays": 33
//   },
//   {
//    "timeAxe": "2019-08-04",
//    "fieldArrays": 35
//   }
 ]
]


// Themes begin
am4core.useTheme(am4themes_animated);
// Themes end

// Create chart instance
const chart = am4core.create("pieArea", am4charts.XYChart);


// Create axes
const dateAxis = chart.xAxes.push(new am4charts.DateAxis());
dateAxis.renderer.grid.template.location = 0;


const valueAxis = chart.yAxes.push(new am4charts.ValueAxis());

fieldArrays.forEach(function(fieldArray, index) {

  const series = chart.series.push(new am4charts.LineSeries());
  series.name = "Series " + (index + 1);
  series.dataFields.valueY = "fieldArrays";
  series.dataFields.dateX = "timeAxe";
  series.data = fieldArray;
  
  
  const bullet = series.bullets.push(new am4charts.CircleBullet());
});

chart.cursor = new am4charts.XYCursor();
// Legend
chart.legend = new am4charts.Legend();



}




// ###### START Line Chart Area#####
const lineChart = async (data) => {
    am4core.useTheme(am4themes_animated);
    console.log('Inside Line Chart', data)
    // const fieldArrays = [
        
    //         {
    //         "timeAxe": "2019",
    //         "fieldArrays": 33
    //         },
    //         {
    //         "timeAxe": "2020",
    //         "fieldArrays": 35
    //         }
        
    // ]

// Themes begin
am4core.useTheme(am4themes_animated);
// Themes end

// Create chart instance
const chart3 = am4core.create("lineArea", am4charts.XYChart)

// Add data
chart3.data = data;

    // Add data pre-processorcountryName
    chart3.events.on("beforedatavalidated", function(ev) {
        console.log('inside before validated Line Chart')
        const source = ev.target.data;
        // Create Empty Object
        const dates = {};
        const dReport = []
        for(var i = 0; i < source.length; i++) {
            var row = source[i];
            if (dates[row.year] == undefined) {
                // Create property date and assing value of year
            dates[row.year] = {
                date: row.year
            };
            // Adds object dates to the dReport array
            dReport.push(dates[row.year]);
            }
            // Assign a new property to dates and sets its value to 
            // quantity
            dates[row.year][row.livestock] = row.quantity;
            // dates[row.year][row.memberState] = row.quantity;
        }
        // console.log('dReport: ', dReport)
        // ev.target.data = dReport;
        chart3.data = dReport;
        run(dReport)
    });

// Create axes
const dateAxis = chart3.xAxes.push(new am4charts.DateAxis());  
dateAxis.renderer.grid.template.location = 0;
dateAxis.periodChangeDateFormats.setKey("month", "[bold]yyyy");

const valueAxis = chart3.yAxes.push(new am4charts.ValueAxis());
// console.log('chart3.data: ', chart3.data)

// Create series
function createSeries(field, name) {
  var series = chart3.series.push(new am4charts.LineSeries());
  series.dataFields.valueY = field;
  series.dataFields.dateX = "date";
  series.name = name;
  series.tooltipText = "{date}: [b]{valueY}[/]";
  series.strokeWidth = 2;
  
var bullet = series.bullets.push(new am4charts.CircleBullet());
bullet.events.on("hit", function(ev) {
  alert("Clicked on " + ev.target.dataItem.dateX + ": " + ev.target.dataItem.valueY);
});
}

const run = (dataR) => {
    const seriesName = []
    for (let i=0; i<dataR.length; i++) {
        const valY = (Object.keys(dataR[i]))[1]
        if (seriesName.includes(valY) === false) {
            seriesName.push(valY)
        }
        
    }
    seriesName.forEach( val => {
        createSeries(val, val + " series")
    })
    

}


// const run = (dataR) => {
//     const seriesName = []
//     for (let i=0; i<dataR.length; i++) {
//         // console.log('dataR', dataR)
//         // console.log('DataR 0 object keys: ', (Object.keys(dataR[0]))[1])
//         const valY = (Object.keys(dataR[i]))[1]
//         const series = chart3.series.push(new am4charts.LineSeries());
//         if (seriesName.includes(valY) === false) {
//             seriesName.push(valY);
//         }

//         console.log('chart3 data ', chart3.data)
//         // series.name = chart3.data[i].livestock;
//         if (seriesName[i] !== null) {
//             series.name = seriesName[i]
//         }
        
//         series.dataFields.valueY =  valY
//         series.dataFields.dateX = "date";
//         series.data = chart3.data;
//         // series.tooltipText = "{name}: [bold]{valueY}[/]";
//         const bullet = series.bullets.push(new am4charts.CircleBullet());
//     }
//     console.log('Series Name Length', seriesName.length)
// }

// for (let i=0; i<chart3.data.length; i++) {
//     console.log('CHART3 DATA', chart3.data)
//     const series = chart3.series.push(new am4charts.LineSeries());
//     series.name = chart3.data[i].livestock + ' ' + chart3.data[i].memberState;
//     series.dataFields.valueY = "quantity";
//     series.dataFields.dateX = "year";
//     series.data = chart3.data;
//     // series.tooltipText = "{name}: [bold]{valueY}[/]";
//     const bullet = series.bullets.push(new am4charts.CircleBullet());
// }

chart3.cursor = new am4charts.XYCursor();

// Legend
chart3.legend = new am4charts.Legend();

}

// ###### END Line Chart Area ######
// ***********************************************************************************************

// #### Start Bar Chart ####
const barChart = (data) => {
    console.log('Inside Bar Chart: ' + data)
    am4core.useTheme(am4themes_animated);
    // Create chart instance
    var chart = am4core.create("barArea", am4charts.XYChart);

    chart.marginRight = 400;
    const dataReport = [];

    // Add data
    chart.data = data;

    const dReport = []

    // Add data
    // chart.data = [{
    // "country": "Botswana",
    // "Cattle": 501.9,
    // "Goat": 250
    // // "sales": 199
    // }]

    // Add data pre-processorcountryName
    chart.events.on("beforedatavalidated", function(ev) {
        console.log('inside before validated Bar Chart')
        const source = ev.target.data;
        // Create Empty Object
        const dates = {};
        for(var i = 0; i < source.length; i++) {
            var row = source[i];
            // console.log('EV target: ' + ev.target.data)
            // console.log('row of source: ' + source[i].memberState)
            
            if (dates[row.year] == undefined) {
                // Create property date and assing value of year
            dates[row.year] = {
                date: row.year
            };
            // Adds object dates to the dReport array
            dReport.push(dates[row.year]);
            }
            // Assign a new property to dates and sets its value to 
            // quantity
            dates[row.year][row.livestock] = row.quantity;
            // dates[row.year][row.memberState] = row.quantity;
        }
        console.log(dReport)
        ev.target.data = dReport;
        chart.data = dReport;
    });


    // Create axes
    var categoryAxis = chart.xAxes.push(new am4charts.DateAxis());
    // categoryAxis.dataFields.category = "date";
    // categoryAxis.title.text = "Member States";
    categoryAxis.renderer.grid.template.location = 0;
    categoryAxis.renderer.minGridDistance = 20;
    categoryAxis.periodChangeDateFormats.setKey("month", "[bold]yyyy");

    var  valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
    valueAxis.title.text = "Annual Total";

    // Create series
    var series = chart.series.push(new am4charts.ColumnSeries());
    series.dataFields.valueY = "cattles";
    series.dataFields.dateX = "date";
    series.name = "Cattles";
    series.tooltipText = "{name}: [bold]{valueY}[/]";
    series.stacked = true;

    // var series2 = chart.series.push(new am4charts.ColumnSeries());
    // series2.dataFields.valueY = "Goat";
    // series2.dataFields.categoryX = "country";
    // series2.name = "Goat";
    // series2.tooltipText = "{name}: [bold]{valueY}[/]";
    // series2.stacked = true;

    // var series3 = chart.series.push(new am4charts.ColumnSeries());
    // series3.dataFields.valueY = "sales";
    // series3.dataFields.categoryX = "country";
    // series3.name = "Sales";
    // series3.tooltipText = "{name}: [bold]{valueY}[/]";
    // series3.stacked = true;

    // Add cursor
    chart.cursor = new am4charts.XYCursor();




}
// #### END Bar Chart ####

// *********************************************************************************************************

// #### START PIE CHART ####
// Create chart instance



// #### END PIE CHART ####
// Checks if button is pressed
document.body.addEventListener("submit", async function(event) {
    
    
    event.preventDefault()

    // ### Validation Start


    // ### END Validation
    
    // chart1.dispose()
    // chart2.dispose()
    // console.log(chart1)

    const form = event.target
    // console.log(form)
    // Clear Page Display Area
    document.getElementById("nodata").style.display = "none"
    document.getElementById("nodata2").style.display = "none"

    //let checkFlag = document.querySelector("input[name=indicator]:checked").value

    //CheckFlag = A, Quantity...checkFlag = B, Year
    // console.log(form.member)
    const result = await fetch("/production/analytics", {

        method: "POST",
        body: new URLSearchParams([...(new FormData(form))])
    })
        .then((response) => response.json())
        .then(result => {
            console.log('Result: ' + result)
        loader.style.display = "none"
        // barSelect.classList.add("active")
        //console.log(result.data)
        result.data.forEach(d => {
                d.quantity = +d.quantity
            })
        // Checks if query returns data
        if (result.data.length == 0) {
            // chart1.dispose()
            // chart2.dispose()
            document.getElementById("nodata2").style.display = "block"
        } else {
            document.getElementById("nodata2").style.display = "none"
            am4core.disposeAllCharts();
            lineChart(result.data)
            barChart(result.data)
            pieChart()
            
            // drawPie(result.data)
            // drawBar(result.data)
        }
            // console.log(result.data)


    })
    .catch(error => console.log(error)) 
})

    //#### END Function to create Analytics ####

// Start Accordion Script
$(document).ready(function(){
    // Add minus icon for collapse element which is open by default
    $(".collapse.show").each(function(){
        // $(this).prev(".card-header").find(".plus").addClass("fa-minus").removeClass("fa-plus");
        $(this).prev(".card-header").find(".plus").toggleClass("bar")

    });
    
    // Toggle plus minus icon on show hide of collapse element
    $(".collapse").on('show.bs.collapse', function(){
        // $(this).prev(".card-header").find(".plus").removeClass("fa-plus").addClass("fa-minus");
        $(this).prev(".card-header").find(".plus").toggleClass("bar");
    }).on('hide.bs.collapse', function(){
        // $(this).prev(".card-header").find(".plus").removeClass("fa-minus").addClass("fa-plus");
        $(this).prev(".card-header").find(".plus").toggleClass("bar");
    });

});

                        
                    
    // END Accordion Script
</script>