
<style>
    a:link {
        text-decoration: none;
    }
</style>

<div class="container">
    <h4 style="margin-top: 25px;" class="capital"> Visual Analytics Toools for <%= memberState.countryName %> </h4>

<div class="row">
    <div class="col-md-6">
        <div class="row" style="margin-top: 40px;">
            <div class="col-md-6">
                
                    <div class="card cardList" style="width: 12rem;">
                        <img src="/images/icons/analytics.png" class="card-img-top" 
                            alt="livestock icon" style="width: 80px; margin-left:20px;">
                        <div class="card-body">
                            <a href="/dashboard/livestockanalytics/<%= memberState._id %>"><h5 class="card-title">Livestock Analytics</h5></a>
                        </div>
                    </div>
                
            </div>
            <div class="col-md-6">
                <div class="card cardList" style="width: 12rem;">
                    <img src="/images/icons/analytics.png" style="width: 80px; margin-left:20px;"
                        class="card-img-top" alt="Core Crops">
                    <div class="card-body">
                    <h5 class="card-title">Core Crops Analytics</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h4 class="capital"> <%= memberState.countryName %> At a Glance</h4>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        Population (million)
                    </div>
                    <div class="card-body">
                      <h5 class="card-title"><%= memberState.population %></h5>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        Land Area (sq km)
                    </div>
                    <div class="card-body">
                      <h5 class="card-title"><%= memberState.area %></h5>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        Currency
                    </div>
                    <div class="card-body">
                      <h5 class="card-title capital"><%= memberState.currency %></h5>
                    </div>
                </div>
            
            
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 25px;">
    <div class="col-md-4">
            <div class="card cardList" style="width: 12rem;">
                <img src="/images/icons/analytics.png" style="width: 80px; margin-left:20px;"
                    class="card-img-top" alt="Aquaculture">
                <div class="card-body">
                <h5 class="card-title">Aquaculture Analytics</h5>
                </div>
            </div>
    </div>
</div>

<!-- <div class="row">
    <div class="col">
        <h4 style="margin-top: 65px;">Analytical Tools</h4>
    </div>
</div>
<div class="row" style="margin-top:45px">
    
    <div class="col-md-4">
       
        <div class="card cardList" style="width: 15rem;">
            <img src="/images/icons/graphs.png" style="width: 120px; margin-left:20px;"
                class="card-img-top" alt="Graphs">
            <div class="card-body">
                <h5 class="card-title">Graphs</h5>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card cardList" style="width: 15rem;">
            <img src="/images/icons/table.png" style="width: 120px; margin-left:20px;"
                class="card-img-top" alt="Table Format">
            <div class="card-body">
                <h5 class="card-title">Table Format</h5>
            </div>
        </div>
        
    </div>
</div> -->


</div>

<script>
    $(document).ready(function() {
        $( ".cardList" ).hover(
        function() {
            $(this).addClass('shadow-lg').css('cursor', 'pointer'); 
        }, function() {
            $(this).removeClass('shadow-lg');
        }
        );
        
        // document ready  
});

</script>








